Importing main libs

In [32]:
import pandas as pd
import numpy as np
import seaborn as sns
from myfunc import get_stats

Import input data

In [17]:
train=pd.read_csv('../data/train.csv')#, parse_dates=['timestamp'], index_col='timestamp')
weather_train=pd.read_csv('../data/weather_train.csv')
building=pd.read_csv('../data/building_metadata.csv')

In [22]:
test=pd.read_csv('../data/test.csv')#, parse_dates=['timestamp'], index_col='timestamp')
weather_test=pd.read_csv('../data/weather_test.csv')

### EDA

In [30]:
get_stats(train)

,Feature,Unique_values,Percentage of missing values,Percentage of zero values,Percentage of values in the biggest category,type
0,building_id,1449,0.0,0.043451,0.173802,int64
1,meter,4,0.0,59.659925,59.659925,int64
2,timestamp,8784,0.0,0.000000,0.011723,object
3,meter_reading,1688175,0.0,9.269721,9.269721,float64

In [31]:
get_stats(weather_train)

,Feature,Unique_values,Percentage of missing values,Percentage of zero values,Percentage of values in the biggest category,type
0,site_id,16,0.000000,6.319366,6.319366,int64
1,timestamp,17520,0.000000,0.000000,0.005771,object
2,air_temperature,639,0.037512,0.692173,1.799865,float64
3,cloud_coverage,10,50.658808,23.302302,50.658808,float64
4,dew_temperature,559,0.117947,1.242592,1.786519,float64
5,precip_depth_1_hr,174,34.478057,56.252097,56.252097,float64
6,sea_level_pressure,717,7.670167,0.000000,7.670167,float64
7,wind_direction,60,4.461790,9.396811,9.396811,float64
8,wind_speed,78,0.165919,9.709893,10.250574,float64

In [33]:
get_stats(building)

,Feature,Unique_values,Percentage of missing values,Percentage of zero values,Percentage of values in the biggest category,type
0,site_id,16,0.000000,7.246377,18.909593,int64
1,building_id,1449,0.000000,0.069013,0.069013,int64
2,primary_use,16,0.000000,0.000000,37.888199,object
3,square_feet,1397,0.000000,0.000000,0.483092,int64
4,year_built,116,53.416149,0.000000,53.416149,float64
5,floor_count,18,75.500345,0.000000,75.500345,float64

In [34]:
get_stats(test)

C:\Users\Приймак\Documents\ashrae-energy-prediction.git\eda\myfunc.py:83: RuntimeWarning: overflow encountered in long_scalars
  zero_cnt = df[df[col] == 0][col].count() * 100 / df.shape[0]

,Feature,Unique_values,Percentage of missing values,Percentage of zero values,Percentage of values in the biggest category,type
0,row_id,41697600,0.0,0.000002,0.000002,int64
1,building_id,1449,0.0,0.042017,0.168067,int64
2,meter,4,0.0,-43.632998,59.369748,int64
3,timestamp,17520,0.0,0.000000,0.005708,object

In [35]:
get_stats(weather_test)

,Feature,Unique_values,Percentage of missing values,Percentage of zero values,Percentage of values in the biggest category,type
0,site_id,16,0.000000,6.319366,6.319366,int64
1,timestamp,17520,0.000000,0.000000,0.005771,object
2,air_temperature,639,0.037512,0.692173,1.799865,float64
3,cloud_coverage,10,50.658808,23.302302,50.658808,float64
4,dew_temperature,559,0.117947,1.242592,1.786519,float64
5,precip_depth_1_hr,174,34.478057,56.252097,56.252097,float64
6,sea_level_pressure,717,7.670167,0.000000,7.670167,float64
7,wind_direction,60,4.461790,9.396811,9.396811,float64
8,wind_speed,78,0.165919,9.709893,10.250574,float64