Importing main libs

In [32]:
import pandas as pd
import numpy as np
import seaborn as sns
from myfunc import get_stats

Import input data

In [45]:
train=pd.read_csv('../data/train.csv')#, parse_dates=['timestamp'], index_col='timestamp')
weather_train=pd.read_csv('../data/weather_train.csv')
building=pd.read_csv('../data/building_metadata.csv')

In [46]:
test=pd.read_csv('../data/test.csv')#, parse_dates=['timestamp'], index_col='timestamp')
weather_test=pd.read_csv('../data/weather_test.csv')

### EDA

In [52]:
train=train.merge(building, on=['building_id'], how='left')
train=train.merge(weather_train, on=['timestamp', 'site_id'], how='left')

In [56]:
test=test.merge(building, on=['building_id'], how='left')
test=test.merge(weather_test, on=['timestamp', 'site_id'], how='left')

In [57]:
del weather_train, weather_test, building

In [58]:
get_stats(train)

,Feature,Unique_values,Percentage of missing values,Percentage of zero values,Percentage of values in the biggest category,type
0,building_id,1449,0.000000,0.043451,0.173802,int64
1,meter,4,0.000000,59.659925,59.659925,int64
2,timestamp,8784,0.000000,0.000000,0.011723,object
3,meter_reading,1688175,0.000000,9.269721,9.269721,float64
4,site_id,16,0.000000,5.325765,13.413878,int64
5,primary_use,16,0.000000,0.000000,40.391094,object
6,square_feet,1397,0.000000,0.000000,0.304154,int64
7,year_built,116,59.990033,0.000000,59.990033,float64
8,floor_count,18,82.652772,0.000000,82.652772,float64
9,air_temperature,619,0.478124,0.699823,1.958662,float64
10,cloud_coverage,10,43.655131,28.455048,43.655131,float64
11,dew_temperature,522,0.495348,1.640549,1.978730,float64
12,precip_depth_1_hr,128,18.544739,71.811937,71.811937,float64
13,sea_level_pressure,709,6.092515,0.000000,6.092515,float64
14,wind_direction,43,7.167792,11.740840,11.740840,float64
15,wind_speed,58,0.710701,11.796345,11.796345,float64

In [59]:
get_stats(test)

C:\Users\Приймак\Documents\ashrae-energy-prediction.git\eda\myfunc.py:83: RuntimeWarning: overflow encountered in long_scalars
  zero_cnt = df[df[col] == 0][col].count() * 100 / df.shape[0]

,Feature,Unique_values,Percentage of missing values,Percentage of zero values,Percentage of values in the biggest category,type
0,row_id,41697600,0.000000,0.000002,0.000002,int64
1,building_id,1449,0.000000,0.042017,0.168067,int64
2,meter,4,0.000000,-43.632998,59.369748,int64
3,timestamp,17520,0.000000,0.000000,0.005708,object
4,site_id,16,0.000000,5.420168,12.983193,int64
5,primary_use,16,0.000000,0.000000,40.294118,object
6,square_feet,1397,0.000000,0.000000,0.294118,int64
7,year_built,116,58.991597,0.000000,58.991597,float64
8,floor_count,18,82.605042,0.000000,82.605042,float64
9,air_temperature,639,0.532167,0.845212,2.030975,float64
10,cloud_coverage,10,46.866438,26.301161,46.866438,float64
11,dew_temperature,559,0.625453,1.454136,2.024579,float64
12,precip_depth_1_hr,174,18.709861,-32.593490,70.409256,float64
13,sea_level_pressure,717,6.035901,0.000000,6.035901,float64
14,wind_direction,60,7.143488,11.503084,11.503084,float64
15,wind_speed,78,0.724476,11.565407,11.565407,float64